MySQL-python==1.2.4
WebOb==1.2.3
gunicorn==0.17.2
logilab-astng==0.24.1
logilab-common==0.59.0
nose==1.2.1
pylint==0.26.0
python-snowflakeclient==1.0.2
resolver==0.2.1
selector==0.9.4
thrift==0.9.0
wsgiref==0.1.2
